/* HEADER STYLES */

.main-header h1 {
  font-size: 4.2rem;
}
.header-text {
  font-size: 1.9rem;
  padding: 13px;
  line-height: 120%;
  margin: 26px 0 0;
}
.header-video h2 {
  font-size: 2.2rem;
}
.header-video video {
  width: 550px;
  height: 330px;
}
